.notification-page-header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    .header-title{
        font-size: 2rem;
        font-weight: 800;
        margin-right: 1rem;
        color: $Verydarkblue;
        @media (max-width: 700px) {
            font-size: 1.5rem;
        }
    }
    .header-notifications{
        background-color: $Blue;
        padding-inline: 1rem;
        color: $White;
        border-radius: .3rem;
        @media (max-width: 700px) {
            padding-inline: .5rem;
        }

    }
    .header-markAsRead{
        position: absolute;
        right: 0rem;
        background-color: transparent;
        border: none;
        color: $Darkgrayishblue;
        cursor: pointer;
        &:focus{
            outline: none;
        }
        &:hover{
            color: $Blue;
            font-weight: 800;
        }
    }
}


